# Application Configuration
APP_NAME=ShopifyBilling
HOST_NAME=your-app-hostname.ngrok.io
TRIAL_DAYS=14
TEST_CHARGE=true

# Database Configuration
DB_NAME=shopify_billing_development
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_HOST=localhost
DB_PORT=5432